<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="styles-catalogo.css">
</head>

<body>
    <header>
        <h1>Catálogo de Productos</h1>
    </header>

    <section class="product-catalog">
        <div class="product-card">
            <img src="/src/public/image-catalogo/leonsito.webp" alt="Producto 1">
            <h2>Producto 1</h2>
            <p>Descripción breve del producto 1.</p>
            <span class="price">$25.00</span>
        </div>

        <div class="product-card">
            <img src="/src/public/image-catalogo/leonsito.webp" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción breve del producto 2.</p>
            <span class="price">$35.00</span>
        </div>

        <div class="product-card">
            <img src="/src/public/image-catalogo/leonsito.webp" alt="Producto 3">
            <h2>Producto 3</h2>
            <p>Descripción breve del producto 3.</p>
            <span class="price">$45.00</span>
        </div>
        <div class="product-card">
            <img src="/src/public/image-catalogo/leonsito.webp" alt="Producto 4">
            <h2>Producto 4</h2>
            <p>Descripción breve del producto 4.</p>
            <span class="price">$25.00</span>
        </div>

        <div class="product-card">
            <img src="/src/public/image-catalogo/leonsito.webp" alt="Producto 5">
            <h2>Producto 5</h2>
            <p>Descripción breve del producto 5.</p>
            <span class="price">$35.00</span>
        </div>

        <div class="product-card">
            <img src="/src/public/image-catalogo/leonsito.webp" alt="Producto 6">
            <h2>Producto 6</h2>
            <p>Descripción breve del producto 6.</p>
            <span class="price">$45.00</span>
        </div>
    </section>
</body>

</html>